= form_for [@task_list,task], :remote => true do |f|
  = f.hidden_field :task_list_id, :value => @task_list.id
  = f.hidden_field :project_id, :value => @task_list.project.id
  %p
    = f.label :status
    = f.select :status, Task::STATUS
    = f.label :priority
    = f.select :priority, Task::PRIORITY
    = f.label :assigned_id
    = f.select :assigned_id, @collaborators.collect{|c| [c.username, c.id]}, :prompt => true 
  %p  
    = f.label :description
    %br
    = f.text_area :description, :cols => 80, :rows => 5
  
  %p
    = f.submit
    o
    = link_to "Cancel", "#", :id => "cancel_link"
