.title
  %p
    = title_hlp(state)
    == (#{tasks.size})
%ul.content.droppable{:id => "list_#{state}"}
  %input{:type => 'hidden', :value => state, :name => 'state', :class => 'state'}
  - tasks.each do |task|
    %li.left{:id => task.id, :class => "draggable #{task.state == 1 ? 'todo' : task.state == 2 ? 'progress' : 'done'}"}
      = render task
  .clear
.clear

