.task{:class => task.status}
  .task_description
    .label Description:
    %p= truncate(task.description, :length => 80 )
  .task_status
    .label Priority:
    = task.priority
  .footer
    .links.right
      = link_to 'Destroy', task, :method => :delete, :remote => true, :class => "delete_task"
    .info.left
      = link_to "ID # #{task.id}", task_url(task), :class => 'ajax', :rel => 'facebox'
    .clear

