%div{:class => " task #{task.status}" }
  .assigned
    .label.left{:style => "width: 55px"} Assigned:
    .left
      = task.assigned.nil? ? "Edit this field" : task.assigned.username
    .clear
  .task_description
    .label Description:
    %p= truncate(task.description, :length => 80 )
  .priority
    .label.left{:style => "width: 50px"} Priority:
    .left= task.priority
    .clear
  .task_status
    .label.left{:style => "width: 50px"} Status:
    .left= task.status
    .right= image_tag("#{task.status}.png")
    .clear
  .footer
    .links.right
      = link_to 'Destroy', task, :method => :delete, :remote => true, :class => "delete_task"
    .info.left
      = link_to "show/edit", task_url(task), :class => 'popup', :rel => "facebox", 'original-title' => "View more details or edit this task ", :class => 'tipsy-s'
    .clear

