:javascript
  $(function() {
    $( ".draggable" ).draggable({revert: 'invalid'});
    $( ".droppable" ).droppable({
      greedy: true,
      hoverClass: 'drophover',
      drop: function(event,ui){
        var st = $(this).find('input.state').val();
        var id = $(ui.draggable).attr('id');
        $.post('/tasks/state?id=' + id + '&state=' + st);
      }
    });
  });
#title
  == Task list: #{@task_list.title.titleize}
%small
  Created on
  %strong
    = l @task_list.created_at, :format => '%A, %d %B of %Y'
  by 
  = @task_list.user.username
.clear
.flash.left{:style => "display:none"}
.task_list_button.right
  = link_to "Back to List", @task_list
.clear
#panel{:style => "width:100%"}
  #todo.panel
    = render :partial =>"tasks", :locals => { :tasks => @todo, :state => 1 }
  #progress.panel
    = render :partial => "tasks", :locals => { :tasks => @progress, :state => 2 }
  #done.panel
    = render :partial => "tasks", :locals => { :tasks => @merged, :state => 3 }
.clear

