:javascript
  $(function() {
    $('a[rel*=facebox]').facebox({
      loadingImage : '/images/loader.gif',
      closeImage   : '/images/closelabel.png',
    });
    $(document).bind('afterClose.facebox', function() {
      $('li#'+$(this).find('#return_task').val()).find('.task').html("<img src='/images/loading.gif'><span> Updating... </span>");
      $.ajax('/tasks/update_task/dom?id='+$(this).find('#return_task').val());
    });
    $( ".draggable" ).draggable({revert: 'invalid', handle: 'div.move',zIndex: 2000});
    $( ".droppable" ).droppable({
      tolerance: 'fit',
      hoverClass: 'drophover',
      drop: function(event,ui){
        var $item = ui.draggable;
        var st = $(this).find('input.state').val();
        var id = $(ui.draggable).attr('id');
        $.post('/tasks/state?id=' + id + '&state=' + st);
        $item.fadeOut('slow').remove();
      }
    });
  });
#title
  == Task list: #{@task_list.title.titleize}
%small
  Created on
  %strong
    = l @task_list.created_at, :format => '%A, %d %B of %Y'
  by
  = @task_list.user.username
.clear
.flash.left{:style => "display:none"}
.task_list_button.right
  = link_to "Back to List", @task_list
.clear
#panel
  #todo.panel
    = render :partial =>"tasks", :locals => { :tasks => @todo, :state => 1 }
  #progress.panel
    = render :partial => "tasks", :locals => { :tasks => @progress, :state => 2 }
  #done.panel
    = render :partial => "tasks", :locals => { :tasks => @merged, :state => 3 }
.clear

