:javascript
  $(function() {
    $('.move').live('click', function(){
      var d = $(this).attr('data-info')
      $('#task_info_'+d).slideToggle();
      return false;
    });  
    $('.more').live('click',function(){
      $('li.to_hide').hide();
      $(this).addClass('minus');
      $(this).removeClass('more');
      $(this).text("All tasks");
      return false;
    });
    $('.minus').live('click',function(){
      $('li.to_hide').show();
      $(this).removeClass('minus');
      $(this).addClass('more');
      $(this).text("My tasks")
      return false;
    });
    $("a[rel*=facebox]").facebox({
      loadingImage : '/images/loader.gif',
      closeImage   : '/images/closelabel.png',
    });
    $(document).bind('afterClose.facebox', function() {
      $("li#"+$(this).find('#return_task').val()).find('.task').html("<img src='/images/loading.gif'><span> Updating... </span>");
      $.ajax('/tasks/update_task/dom?id='+$(this).find('#return_task').val());
    });
    $( ".draggable" ).draggable({
      revert: 'invalid',
      handle: 'div.move',
      zIndex: 2000,
      start : function(event,ui){
        $(this).find('.move').addClass('moving');
        $('.moving .text').text("moving...");
      },
      stop : function(event,ui){
        $(this).find('.move').removeClass('moving');
        $('.move .text').text("click here to move me");
      }
    });
    $( ".droppable" ).droppable({
      tolerance: 'fit',
      hoverClass: 'drophover',
      drop: function(event,ui){
        var $item = ui.draggable;
        var st =  $(this).find('input.state').val();
        var id = $(ui.draggable).attr('data-id');
        $.post('/tasks/state?id=' + id + '&state=' + st);
        $item.fadeOut('slow').remove();
      }
    });
  });
- title @task_list.title.titleize
.clear
%p
  %small
    .left{:style => "margin: 0 15px"}
      .left
        = link_to(@task_list) do
          .left{:style => "margin: -4px 5px 0 0"}= image_tag('back.png')
          .left Go back
    .right{:style => "margin: 0 15px 0 0;"}
      .links{:style => "margin:0 20px;float: left"}
        = link_to "#", :class => "more_link more hide_tasks tipsy-s", 'original-title' => "Close this panel", 'data-user' => current_user.username do
          My tasks
      .right
        Created on
        %strong
          = l @task_list.created_at, :format => '%A, %d %B of %Y'
        by
        = @task_list.user.username
    .clar
.flash.left{:style => "display:none"}
.clear
#panel
  #todo.panel
    = render :partial =>"tasks", :locals => { :tasks => @todo, :state => 1 }
  #progress.panel
    = render :partial => "tasks", :locals => { :tasks => @progress, :state => 2 }
  #done.panel
    = render :partial => "tasks", :locals => { :tasks => @merged, :state => 3 }
.clear

