:javascript
  $(function() {
    $('a[rel*=facebox]').facebox({        
      loadingImage : '/images/loader.gif',        
      closeImage   : '/images/closelabel.png',
    });
    $( ".draggable" ).draggable({revert: 'invalid'});
    $( ".droppable" ).droppable({
      tolerance: 'fit', 
      hoverClass: 'drophover',
      drop: function(event,ui){
        var $item = ui.draggable;
        var st = $(this).find('input.state').val();
        var id = $(ui.draggable).attr('id');
        $.post('/tasks/state?id=' + id + '&state=' + st);
        $item.fadeOut('slow').remove();
      }
    });
    $('.task').live('click',function(){
      $('.current_status').editable('/tasks/update/status',{
        data      : " { 'pending':'pending','working':'working','locked':'locked','aproved':'aproved','abandoned':'abandoned' }",
        type      : 'select',
        onblur    : 'submit',
        tooltip   : 'Click to edit...',
        indicator : '<img style="float:left" src="/images/loading.gif">',
        callback : function(value, settings) {
          $(this).parent().parent().after().html("<div class=\" " + value + "\"><div class=\"label left\" style=\"width: 50px\">Status:</div> " 
                                            +"<div class=\"current_status left\" id=\"status_7\">"
                                            + value + "</div><div class=\"clear\"></div></div>");
          console.log(this);
          console.log(value);
          console.log(settings);
        }
      });
      $('.current_user').editable('/tasks/update/assigned',{
        data      : "{#{ @task_list.project.all_members_formatted}}",
        type      : 'select',
        onblur    : 'submit',
        tooltip   : 'Click to edit...',
        indicator : '<img style="float:left" src="/images/loading.gif">',
        callback : function(value, settings) {
          console.log(this);
          console.log(value);
          console.log(settings);
        }
      });
    });
  });
#title
  == Task list: #{@task_list.title.titleize}
%small
  Created on
  %strong
    = l @task_list.created_at, :format => '%A, %d %B of %Y'
  by 
  = @task_list.user.username
.clear
.flash.left{:style => "display:none"}
.task_list_button.right
  = link_to "Back to List", @task_list
.clear
#panel
  #todo.panel.droppable
    = render :partial =>"tasks", :locals => { :tasks => @todo, :state => 1 }
  #progress.panel.droppable
    = render :partial => "tasks", :locals => { :tasks => @progress, :state => 2 }
  #done.panel.droppable
    = render :partial => "tasks", :locals => { :tasks => @merged, :state => 3 }
.clear

