:javascript
  $(function(){
    $('.tipsy-s').tipsy({gravity: 's', live: true});
    $('#submit_button').click(function(){
      if ($('#comment_input ').val() == ''){
        $('#error').html('<span style="color: #D00;font-size:11px;font-weight:bold">Cant be blank this field!</span>');
        return false;
      }else{
        $('#error').html('');
      }
    })
  })
#task
  %p
    .left
      %strong Project:
      = link_to @task.project.name, @task.project
    .right{:style => "text-align: left"}
      .left{:style => "width: 120px"}
        %strong User:
        = @task.user.username
      .left{:style => "margin: 0 5px;width: 120px"}
        %strong Priority:
        = @task.priority
      .clear
    .clear
  %p
    .left
      %strong Description:
    .right{:style => "text-align: left"}
      .left{:style => "width: 120px"}
        %strong State:
        = @task.state == 1 ? "To do" : @task.state == 2 ? "Progress" : "Done"
      .left{:style => "margin:0 5px;width: 120px"}
        %strong Status:
        = @task.status
    .clear
    = simple_format @task.description, :class => 'text_area'
  %ul#comments
    #counter
      %h4= "Comments (#{@task.comments.size})"
    - @task.comments.each do |comment|
      = render :partial => 'tasks/comment', :locals => {:comment => comment}
      
  #comment_form
    %h4 Comment this task
    = form_tag comments_add_task_path(@task),:id => "new_comment", :remote => true, :method => :post  do
      #body
        = text_area_tag 'body', nil, :id => "comment_input"
        #error.right
        #buttons_form
          = submit_tag "Submit", :id => "submit_button"
          == o #{link_to "Cancel", "#", :onclick => "$('#new_comment')[0].reset();$('#error').html('');return false;"}

