- title "Edit my Profile"
.clear
#edit_form
  = form_for @user do |f|
    = f.error_messages
    .col.left
      %p
        = f.label :username
        = f.text_field :username
      %p
        = f.label :email, "Email Address"
        = f.text_field :email
    .col.left
      %p
        = f.label :password
        = f.password_field :password
      %p
        = f.label :password_confirmation, "Confirm Password"
        = f.password_field :password_confirmation
    .clear
    #form_footer
      = f.submit
      or
      = link_to "Cancel", root_url
.clear
#activities
  - if current_user.activities.size > 0
    .right{:style => "margin-right: 20px"}= link_to "Clean all", activities_clean_path, :confirm => "Are you sure? All your activities will be deleted!"
  %h2 
    Clean your activities
  %ul
    - current_user.activities.each do |activity|
      = render :partial => 'activities/activity', :locals => {:activity => activity }
.clear

