- title "Users"

%ul#users
  - @users.each do |user|
    %li{:class => "user #{user == current_user ? 'you' : nil}"}
      .user_photo.left
        = image_tag user.gravatar_url(:size => 55, :default => 'wavatar')
      .user_info.left
        %h2
          = user.username
        .email= user.email
        .projects{:class => 'tipsy-w','original-title' => "<div style='text-align:left;font-size: 12px'><strong>#{user.username.titleize}</strong> is owner of <strong>#{pluralize(user.projects.size,'project')}</strong> and is member in #{pluralize(user.my_projects.size - user.projects.size, 'project')}</div>"}
          Projects: 
          = user.my_projects.size
      .clear
.clear
