%h1{:style => "text-align: center;width: 60%;margin: 0 auto"}
  Welcome to anana!
#content{:style => "width: 90%;margin:20px auto"}
  .left{:style => "width: 70%"}
    %p{:style => 'font-size: 17px; font-weight: bold'}
      What is anana?...

    #funcionalidades.left{:style => "width: 47%"}
      Funcionalidades planificadas:
      %ul
        %li
          .status.working Notificaciones
        %li
          .status.pending Mails
        %li
          .status.future  Permisos por lista de tareas
    #mejoras.left{:style => "width: 47%"} 
      Mejoras Pendientes
      %ul
        %li Notificaciones
        %li Mails
        %li Permisos por lista de tareas
  .right{:style => "width: 30%"}
    #go
      = form_tag sessions_path do
        = label_tag :login, "Username or Email"
        = text_field_tag :login, params[:login]
        = label_tag :password
        = password_field_tag :password
        %p= submit_tag "Log in"
      #footer
        .left Don't have an account?
        .right= link_to "Sign up!", signup_path
        .clear  
