
#content{:style => "width: 90%;margin:20px auto"}
  #nav
    %ul
      %li= link_to "Screenshots","#"
      %li= link_to "Pricing", "#"
      %li= link_to "Contact us","#"
    .clear 
  .left{:style => "width: 70%"}
    #anana
      %h1.title    
        What is anana? ...
      .expl
        .left{:style => "margin-right: 15px"}= image_tag('organize.png')
        Anana is a simple web application that helps you and your team to keep your task organized. 
      %h3.title    
        What is new? ...  
      .expl
        .left{:style => "margin-right: 15px"}= image_tag('panel.png')
        A clean panel, where you can view how is your progress, check status, locks.
      %h3.title    
        Some features ... 
      .expl
        .left{:style => "margin-right: 15px"}= image_tag('comment.png')
        Add collaborators, comments and tags in your task, assignments, and more...
      %h3.title    
        And an important thing...  
      .expl
        .left{:style => "margin-right: 15px"}= image_tag('private.png')
        Your projects are
        %b private
        , this means that only you and your team can view your tasks.
      %p
        %small
          .left{:style => "margin: 2px 5px"}= image_tag('ok.png')
          You can test the application login in as demo
          %em (username: 
          %b demo
          , password: 
          %b demo
          )
    #funcionalidades
      %h2.title
        We are working on...
      %table
        %tr
          %td.image 
            = image_tag('working.png')
          %td.task Notifications
          %td.status working....
        %tr
          %td.image
            = image_tag('working.png')
          %td.task Mails
          %td.status pending...
        %tr
          %td.image 
            = image_tag('working.png')
          %td.task Permissions
          %td.status waiting...
        %tr
          %td.image 
            = image_tag('working.png')
          %td.task Text editor
          %td.status waiting...
  .right{:style => "width: 30%"}
    #go
      %h2 Login
      = form_tag sessions_path do
        %em= label_tag :login, "Username or Email"
        = text_field_tag :login, params[:login], :value => 'demo'
        %em= label_tag :password
        = password_field_tag :password
        = submit_tag "Log in"
    %hr
    #footer
      Don't have an account?
      .button= link_to "Sign up for Free!", signup_path
    %hr
    #users
      %h4.left
        Users all ready registered
      .clear
      %ul
        - User.all.each do |user|
          %li.user{:class => 'tipsy-s', 'original-title' => 'I\'am ' + user.username} 
            = image_tag user.gravatar_url(:size => 33, :default => 'wavatar') 
        .clear
  .clear
