- if current_user.is_admin_or_owner?(project)
  :javascript
    $(function(){
      $('.role').editable('/collaborator/update',{
        data      : " { 'collaborator':'collaborator', 'admin':'admin' }",
        type      : 'select',
        submit    : 'Ok',
        style     : 'display:inline',
        onblur    : 'cancel',
        tooltip   : 'Click to edit...',
        indicator : '<img src="/images/loading.gif">'
      });
    });
    
%li{:id => "collaborator_#{collaborator.id}"}
  .collaborator_field.icon= image_tag('user.png')
  .collaborator_field.email= collaborator.user.email
  .collaborator_field.role{:id => collaborator.id}= collaborator.role
  .collaborator_field.remove= link_to image_tag('remove.png', :title => "Delete collaborator"), remove_project_path(project, :user => collaborator.id), :remote => true, :method => :post
  .clear
