- if current_user.is_admin_or_owner?(project)
  :javascript
    $(function(){
      $('.remove').click(function(){
        var id = $(this).attr('id').split('_')[1];
        $('li#collaborator_'+id).html('<div class="collaborator_field"><img src="/images/loading.gif"> Removing collaborator ... </div><div class="clear"></div>');
      });  
      $('.role').editable('/collaborator/update',{
        data      : " { 'collaborator':'collaborator', 'admin':'admin' }",
        type      : 'select',
        submit    : 'Ok',
        style     : 'display:inline',
        onblur    : 'cancel',
        tooltip   : 'Click to edit...',
        indicator : '<img src="/images/loading.gif">'
      });
    });
    
%li{:id => "collaborator_#{collaborator.id}"}
  .collaborator_field.icon= image_tag('user.png')
  .collaborator_field.email= collaborator.user.email
  .collaborator_field.role{:id => "role_#{collaborator.id}"}= collaborator.role
  .collaborator_field.remove{:id => "remove_#{collaborator.id}"}= link_to image_tag('remove.png', :title => "Delete collaborator"), remove_project_path(project, :user => collaborator.id), :remote => true, :method => :post
  .clear
