:javascript
  $(function(){
    $('.date').datepicker({
      dateFormat: 'DD, d MM, yy',
      showAnim: 'slideDown',
      changeMonth: true,
      changeYear: true
    });
  })
#project_form
  %h2
    = @project.new_record? ? "Create a Project" : "Update Project"
  = form_for @project do |f|
    = f.error_messages
    .col_left
      %p
        = f.label :name
        %br
        = f.text_field :name
      %p
        = f.label :status
        %br
        = f.select :status, TaskList::STATUS
    .col_right
      %p
        = f.label :start_date
        %br
        = f.text_field :start_date, :value => @project.start_date ? (l @project.start_date, :format => '%A, %d %B, %Y') : nil,:class => 'date', :size => 30
      %p
        = f.label :end_date
        %br
        = f.text_field :end_date, :value => @project.end_date ? (l @project.end_date, :format => '%A, %d %B, %Y') : nil, :class => 'date', :size => 30
    .clear
    #description
      = f.label :description
      %br
      = f.text_area :description, :rows => 5, :cols => 110
    #submit
      = f.submit
      or
      = link_to 'Cancel', @project.new_record? ? projects_path : @project

