- title "My Projects (#{@projects.size})"
:javascript
  $(function(){
    $('.more_link').live('click',function(){
      var id = $(this).attr('id')
      $('#project_'+id).slideToggle();
      $(this).toggleClass('minus');
    });
    $('.filter').click(function(){
      var action = $(this).attr('data-action');
      $('.' + action).fadeToggle('slow');
      $(this).toggleClass('active');
      return false
    });
    $('#q').keyup(function(){
      $('#q').addClass("ui-autocomplete-loading");
      $('#projects').html("<div> <img src='/images/loading.gif'> Searching projects... </div>");
      $.get("#{projects_path}" + '/?q=' +  $(this).val(), function(){$('#q').removeClass('ui-autocomplete-loading')}, 'script');
    });  
  });
#col_right.right
  .button
    = link_to "New Project", new_project_path
  #search_projects
    = form_tag projects_path, :remote => true do
      .right= image_tag('search.png')
      = text_field_tag :q,nil,'data-placeholder' => 'start typing to search...', :id => 'q'
      .clear
  - unless @projects.empty?
    #filter_projects
      .title_section Filter by:
      %div= link_to "Open", "#", 'data-action' => 'open', :class => 'filter' 
      %div= link_to "Reopened", "#", 'data-action' => 'reopened', :class => 'filter' 
      %div= link_to "Closed", "#", 'data-action' => 'closed', :class => 'filter' 
#col_left.left
  #projects
    = render 'projects'
  
.clear

