- title "Project #{@project.name}"
:javascript
  $(function(){
    $('#tabs').tabs();
    $('.remote_link').click(function(){
      $('#loading').html("<img style='margin: -4px 5px' src='/images/loading.gif'> adding collaborator ");
    });

    $('#email').focus(function(){
      $(this).val('');
      $('#email').removeClass("error_autocomplete");
      $('#email').removeClass("ok_autocomplete");
      $('#submit_col').attr('disabled',true);
      $('#select_rol').attr('disabled',true);
      $('#loading').html('');
    });
    $('#email').keyup(function(){
      if ($(this).val().length < 5){
        $('#email').removeClass("error_autocomplete");
        $('#email').removeClass("ok_autocomplete");
        $('#loading').html('');
      }
    });
    $('#email').blur(function(){
      if ($(this).val() == ''){
        $('#loading').html("<span style='color:#D00;font-size: 12px;font-weight: bold'> You must select an user.</span>");
      }
    });
    $( "#email" ).autocomplete({
      source: "#{get_users_project_path(@project)}",
      minLength: 2,
      select: function(event, ui){
        if (ui.item.value == "#{@project.user.username}"){
          $('#email').addClass("error_autocomplete");
          $('#loading').html("<span style='color:#D00;font-size: 12px;font-weight: bold'> This user is the project owner, select another user.</span>");
          $('#submit_col').attr('disabled',true);
          $('#select_rol').attr('disabled',true);
        }
        else{
          $('#email').removeClass("error_autocomplete");
          $('#email').addClass("ok_autocomplete");
          $('#submit_col').attr('disabled',false);
          $('#select_rol').attr('disabled',false);
          $('#loading').html('');
        }
      }
    });
  });
.clear
#tabs
  %ul
    %li= link_to "Project", "#project"
    %li= link_to "Tasks", "#tasks"
    %li= link_to "Configuration", "#config"
    - if current_user.is_admin_or_owner?(@project)
      %li= link_to "Activity", "#notifications"

  %div{:id => 'project'}
    %p
      %strong Description:
      = simple_format @project.description, :class => "text_area"
    - if @project.start_date
      %p
        .left{:style => "margin: -5px 5px 0 0 "}= image_tag('calendar.png')
        Start on
        %strong
          = l @project.start_date, :format => '%d of %B, %Y'
        - if @project.end_date
          and ends on
          %strong
            = l @project.end_date, :format => '%d of %B, %Y'
    %p
      .left{:style => "margin: -5px 5px 0 0 "}= image_tag('info.png')
      %strong Status:
      = @project.status
    %p
      .left{:style => "margin: -5px 5px 0 0 "}= image_tag('owner.png')
      %strong Owner:
      = @project.user.username
    %p
      .left
        .button.left{:style => "margin-right: 10px"}= link_to "Edit", edit_project_path(@project)
        .button.left= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete
  %div{:id => 'tasks'}
    %p
      .tab_title
        .left
          %h3 Tasks lists
        .button.right{:style => 'width: 20%'}
          = link_to "New task list", new_project_task_list_path(@project)
        .clear
      %ol
        - @project.task_lists.each do |tl|
          %li= link_to tl.title, tl
  %div{:id => 'config'}
    %p
      .tab_content
        - if current_user.is_admin_or_owner?(@project)
          %h3 Add member:
          .left
            = form_tag add_collaborator_project_path(@project),:id => "new_collaborator", :remote => true do
              = text_field_tag :email, nil, :size => 50, 'data-placeholder' => "Start typing the username..."
              %select{:id => "role", :name => "role", 'original-title' => "Select a role for this user", :class =>'focus-example', :id => 'select_rol', :disabled => 'disabled' }
                - Collaborator::ROLE.each do |r|
                  %option{:value => r}
                    = r
              = submit_tag "Add", :class => "remote_link", :id => "submit_col", :disabled => 'disabled'
              %span#loading
          .clear
        %p
          #messages{:style => "display:none"}
          .clear
        %h3 Collaborators
        %ul#collaborators
          - @project.collaborators.each do |collaborator|
            = render :partial => 'projects/collaborator', :locals => {:collaborator => collaborator, :project => @project }
  - if current_user.is_admin_or_owner?(@project)
    %div{:id => 'notifications'}
      #activities
        %h2 Recent activity
        %ul
          - @project.activities.each do |activity|
            = render :partial => 'activities/activity', :locals => {:activity => activity}
        .clear
.clear

