- title "Project #{@project.name}"
:javascript
  $(function(){
    $('#tabs').tabs();
    $('.remote_link').click(function(){
      $('#loading').html("<img src='/images/loading.gif'>");
    });
    $('#email').focus(function(){    
      $(this).val('');
      $('#email').removeClass("error_autocomplete");
      $('#email').removeClass("ok_autocomplete");
      $('#submit_col').attr('disabled',true);
      $('#loading').html('');
    });
    $( "#email" ).autocomplete({
      source: "#{get_users_project_path(@project)}",
      minLength: 2,
      select: function(event, ui){
        if (ui.item.value == "#{@project.user.email}"){
          $('#email').addClass("error_autocomplete");
          $('#loading').html("<span style='color:#D00'> This user is the project owner, select another user.</span>");
          $('#submit_col').attr('disabled',true);
        }
        else{
          $('#email').removeClass("error_autocomplete");
          $('#email').addClass("ok_autocomplete");
          $('#submit_col').attr('disabled',false);
        }
      }
    });
  });
#tabs
  %ul
    %li= link_to "Project", "#project"
    %li= link_to "Tasks", "#tasks"
    %li= link_to "Config", "#config"

  %div{:id => 'project'} 
    %p
      %strong Description:
      = @project.description
    %p
      %strong Start Date:
      =  @project.start_date
      %strong End Date:
      = @project.end_date
    %p
      %strong Status:
      = @project.status
    %p
      %strong Owner:
      = @project.user.username
  %div{:id => 'tasks'}
    .tab_title 
      %h2 Tasks list 
    .tab_link_new
      = link_to "New task list", new_project_task_list_path(@project)
    #tasks.list  
      %ol
        - @project.task_lists.each do |tl|
          %li= link_to tl.title, tl
  %div{:id => 'config'}
    .tab_title
      %h3 Configuration
    .tab_content
      - if current_user.is_admin_or_owner?(@project)
        = form_tag add_collaborator_project_path(@project),:id => "new_collaborator", :remote => true do
          = text_field_tag :email, nil, :size => 30
          %select{:id => "role", :name => "role"}
            - Collaborator::ROLE.each do |r|
              %option{:value => r}
                = r
          = submit_tag "Add", :class => "remote_link", :id => "submit_col", :disabled => 'disabled'
          %span#loading
      %p    
        #messages{:style => "display:none"}
        .clear  
      %ul#collaborators
        - @project.collaborators.each do |collaborator|
          = render :partial => 'projects/collaborator', :locals => {:collaborator => collaborator, :project => @project }   
  %p
    = link_to "Edit", edit_project_path(@project)
    |
    = link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete
