- title "Bug Lists"

%table
  %tr
    %th Project
    %th Title
  - for bug_list in @bug_lists
    %tr
      %td= bug_list.project_id
      %td= bug_list.title
      %td= link_to 'Show', bug_list
      %td= link_to 'Edit', edit_bug_list_path(bug_list)
      %td= link_to 'Destroy', bug_list, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Bug List", new_bug_list_path
