- title "Bugs"

%table
  %tr
    %th Bug list
    %th Project
    %th Description
    %th Status
    %th User
    %th Owner
  - for bug in @bugs
    %tr
      %td= bug.bug_list_id
      %td= bug.project_id
      %td= bug.description
      %td= bug.status
      %td= bug.user_id
      %td= bug.owner
      %td= link_to 'Show', bug
      %td= link_to 'Edit', edit_bug_path(bug)
      %td= link_to 'Destroy', bug, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Bug", new_bug_path
