:javascript
  $(function(){
    $('#new_task_link').click(function(){
      $('#task_form').slideToggle('slow');
    });
    $('#cancel_link').click(function(){
      $('#new_task')[0].reset();
      $('#task_form').slideToggle('slow');
      return false;
    });
  });
#title
  Title:
  = @task_list.title.titleize
  %small
    (
    = link_to @task_list.project.name, @task_list.project
    )
%small
  = "Created by #{@task_list.user.try(:username) || 'unknown'} on #{l @task_list.created_at, :format => '%d, %A %B of %Y'}"
%p
  = simple_format @task_list.comments, :class => "text_area"
.task_list_button
  = link_to "Panel", task_list_tasks_path(@task_list)
.task_list_button
  = link_to "New Task", "#", :id => "new_task_link"
.task_list_button
  = link_to "Edit", edit_task_list_path(@task_list)
.task_list_button
  = link_to "Destroy", @task_list, :confirm => 'Are you sure?', :method => :delete
.clear
#task_form{:style => "display:none", :class => "text_area"}
  = render :partial => 'tasks/form', :locals => {:task => @task_list.tasks.new }
.clear
#list_tasks
  %h2 Tasks
  %ul#tasks
    - @tasks.order('status').each do |task|
      = render :partial => 'tasks/task_item', :locals => {:task => task}
  .clear      

