:javascript
  $(function(){
    $(document).bind('afterClose.facebox', function() {
      $('li#'+$(this).find('#return_task').val()).find('.task').html("<img src='/images/loading.gif'><span> Updating... </span>");
      $.ajax('/tasks/update_task/dom?id='+$(this).find('#return_task').val());
    });
    $('a[rel*=facebox]').facebox({        
      loadingImage : '/images/loader.gif',        
      closeImage   : '/images/closelabel.png',
    });
    $('#new_task_link').click(function(){
      $('#task_form').slideToggle('slow');
    });
    $('#cancel_link').click(function(){
      $('#new_task')[0].reset();
      $('#task_form').slideToggle('slow');
      return false;
    });
  });
- title @task_list.title.titleize  

%small.left
  Project: 
  =link_to @task_list.project.name, @task_list.project
%small.right
  = "Created by #{@task_list.user.try(:username) || 'unknown'} on #{l @task_list.created_at, :format => '%d, %A %B of %Y'}"
.clear
%p
  .left{:style => "width: 45%"}
    %strong Status:
    = @task_list.status
  .left{:style => "width: 45%, margin-left: 10px"}  
    %strong End Date:
    = @task_list.end_date? ? (l @task_list.end_date, :format => '%A, %d of %B, %Y') : "No dates"
  .clear
%p
  = simple_format @task_list.comments, :class => "text_area"
.task_list_button
  = link_to "Panel", task_list_tasks_path(@task_list), 'original-title' => "You can manage your task here", :class => 'tipsy-s'
.task_list_button
  = link_to "New Task", "#", :id => "new_task_link", 'original-title' => "Create a new task", :class => 'tipsy-s'
.task_list_button
  = link_to "Edit", edit_task_list_path(@task_list), 'original-title' => "Edit your task list", :class => 'tipsy-s'
.task_list_button
  = link_to "Destroy", @task_list, :confirm => 'Are you sure?', :method => :delete, 'original-title' => "Delete this task list and its tasks", :class => 'tipsy-s'
.clear
#task_form{:style => "display:none", :class => "text_area"}
  = render :partial => 'tasks/form', :locals => {:task => @task_list.tasks.new }
.clear
#list_tasks
  %h2 Tasks
  %ul#tasks
    - @tasks.order('status').each do |task|
      = render :partial => 'tasks/task_item', :locals => {:task => task}
  .clear      

