!!!
%html
  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    %link{ :href => '/stylesheets/jquery-ui-1.8.16.custom.css',:media => 'screen',:rel => 'stylesheet', :type => 'text/css'}
    %link{ :href => '/stylesheets/facebox.css',:media => 'screen',:rel => 'stylesheet', :type => 'text/css'}
    %link{ :href => '/stylesheets/tipsy.css',:media => 'screen',:rel => 'stylesheet', :type => 'text/css'}
    = javascript_include_tag :defaults,'jquery.autogrow.js', 'jquery.jeditable.js','facebox.js','jquery.tipsy.js'
    = csrf_meta_tag
    = yield(:head)
    :javascript
      $(function(){
        $('#projects_menu').hover(function(){
          $('#project_list').slideDown('fast');
          $(this).addClass('selected');
        }, function(){
          $('#project_list').slideUp('fast');
          $(this).removeClass('selected');
        })
      })
  %body
    #container
      #logo
        .left= image_tag('anana.png')
        %span.left anana
      #menu.right
        - if current_user
          #user_menu.right
            .info.left{:style => "margin: 0 5px"}
              .left
                logged as 
                = current_user.username
              .right{:style => "margin: 0 5px"}
                = image_tag current_user.gravatar_url(:size => 20, :default => 'wavatar')
        - if @project
          .recent
            recent activity information
      .clear
      #bar
        .nav.right
          = link_to "users", users_path
          #projects_menu.left
            = link_to 'projects', "#"
            #project_list{:style => 'display:none'}
              %ul
                - current_user.my_projects.each do |project|
                  %li
                    .menu_link
                      = link_to project.name, project
                    .sub_title
                      %small
                        Created by 
                        = project.user.username
              %p.last_link
                = link_to "view all projects", projects_path
            .clear    
          = link_to "edit", edit_current_user_path
          = link_to "logout", logout_path
        .title.left
          = yield(:title)
        .clear
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield

